section{
  width: fit-content;
  height: fit-content;
  background-color: lightgray;
  border-radius: 10px 10px;
  h1{
    padding: 25px 50px ;
    //background-color: ;

    font-size: 2.5rem;
  }
}

#main-container{
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to top,#c9c9ff 50%,#6e6ef6 90%) no-repeat;
}
#btnContainer > button{
  width: 100px;
}
#login{
  font-size: 0.8rem;
}
.validation {
  margin-left: 8px;
}
